#gonggao{vertical-align:middle;}

header,section,footer{
    width:1200px;margin:0 auto;
   
}
.welcome{
    width:1200px;height:40px;
    background:#eee;
    text-align:right;
    padding:10px;
    box-sizing:border-box;
    z-index: 100;
}



.search{
    width:1200px;margin:auto;
    position:absolute;
    top:30px;
}
.search>input{
    width:300px;height:21px;border:1px solid #aaa;outline:none;margin:auto;
    position:absolute;
    top:38px;right:105px;
}

#gwc{
    width:99px;height:24px;display:inline-block;line-height:24px;
    background-image:url(../img/vanclsprite.png);
    background-position:240px -3px;
    position:absolute;
    top:38px;right:1px;
    text-align:center;
}

#button{
    width:36px;height:23px;border:0;outline:none;
    background-image:url(../img/vanclsprite.png);
    background-position:294px -3px;
}
.search>p{
    margin:10px 0;
    position:absolute;
    top:62px;right:8px;
}
nav{
    width:1200px;margin:20px auto;

}
#logo{
    width:187px;height:48px;
    display:inline-block;vertical-align: middle;
}




